@{
    ViewData["Title"] = "About Us";
}

<div class="container about-container">
    <div class="row">
        <div class="image-box col-lg-3" >
            <img src="~/images/about-v1.png" alt="" >
        </div>
        <div class="col-lg-8 text-box">
            <h5>The Lion City Experience</h5>
            <p><i>"The best way to fly".</i> That is what we as a company believe in and to acheive it we have provided thoughtful service that goes the extra mile to ensure efficiency and comfort. Flying to over a <b>100 countries</b> and providing <b>3,600 flights</b> per week, your flight experience with us is guaranteed to be an enjoyable one. Sit back, relax, and join us on Lion City Airlines.</p>
        </div>
    </div>
</div>