@{
    ViewData["Title"] = "Homepage";
}

<div class="container-fluid homepage-container">
    <div class="row row-1">
        <h2>Ready To Travel !<br />What Are you waiting For?</h2>
    </div>
    <div class="row row-2">
        <p><a href="~/Customer/SignUp">Sign Up</a> now to start your adventure!</p>
    </div>
    <div class="row row-3 justify-content-center">
        <h2 style="text-align: center">Best Offers for your adventures</h2>

        <div class="row justify-content-center" >
            <div class="card col-12 col-md-6 col-lg-4">
                <img src="~/images/malaysia.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Malayisa</h5>
                    <p class="card-text">Kuala Lumpur is the capital city of Malaysia, boasting gleaming skyscrapers, colonial architecture, charming locals, and a myriad of natural attractions.</p>
                    <p class="price">Prices from SGD 55</p>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <img src="~/images/london.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">London</h5>
                    <p class="card-text">London is the capital and largest city of England and the United Kingdom. The city stands on the River Thames in the south-east of England.</p>
                    <p class="price">Prices from SGD 75</p>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <img src="~/images/sydney.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Sydney</h5>
                    <p class="card-text">Sydney is Australia's oldest and largest city with a population of around 4 million. Sydney is built around a huge harbour and hosts many tourist attractions as well as a number of beaches, bays and a couple of national parks.</p>
                    <p class="price">Prices from SGD 65</p>
                </div>
            </div>
    </div>
</div>
</div>