@model WEB_Assignment_P08_Team_3.Models.Customer
@{
    ViewData["Title"] = "Change Password";
}

<h4>Change Password</h4>
<div style="display: flex; justify-content: center;" class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="oldpw" class="control-label">Enter Old Password:</label>
                <input type="password" id="OldPassword" name="OldPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Enter New Password:</label>
                <input type="password" id="NewPassword" name="NewPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Re-Enter New Password:</label>
                <input type="password" id="RepeatPassword" name="RepeatPassword" class="form-control" />

            </div>
            <div style="text-align: center; margin-top: 40px;" class="form-group">
                <input type="submit" value="Confirm" class="btn btn-dark" />
            </div>
            <div style="text-align: center; margin-top: 40px;" class="form-group">
                <span style="color:red;font-size:15px;text-align:center">@TempData["Message"]</span>
                <span style="color:green;font-size:15px;text-align:center">@TempData["Password_Success"]</span>
            </div>
        </form>
    </div>
</div>